.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btntext {
    color: white;
    text-decoration: none;
}